---
import Document from "../layouts/Document.astro";
import { Main } from "../components/Main";
---

<style is:global>
  * {
    margin: 0;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
</style>

<Document title="Portfolio">
  {
    import.meta.env.PUBLIC_PHYSICS ? (
      <main>
        <Main client:only="react" />
      </main>
    ) : null
  }
</Document>
