---
import Link from "./Link.astro";
import Project from "./Project.astro";

interface Props {
  locale?: "ru" | "en";
}

const { locale = "en" } = Astro.props;
const groups = {
  designer: "graphic designer",
  artist: "media artist",
  curator: "curator",
  "art-director": "art director",
  teacher: "teacher",
  "creative-director": "creative director",
  "brand-director": "brand director",
  studio: "Whale Studio",
};
---

<script>
  import { doIt } from "../scripts/matter";
  window.addEventListener("DOMContentLoaded", () => doIt());
</script>
<main>
  <div id="physics-container"></div>
  <div class="controls">
    {
      locale === "en" ? (
        <div>
          Martin Lezhenin is a{" "}
          {Object.entries(groups).map(([groupId, text], i) => {
            if (i === Object.entries(groups).length - 1) return "";
            if (i === Object.entries(groups).length - 2)
              return (
                <span>
                  <Link groupId={groupId} text={text} />
                </span>
              );

            return (
              <span>
                <Link groupId={groupId} text={text} />,{" "}
              </span>
            );
          })}
          and founder of the creative bureau{" "}
          <Link groupId="studio" text="Whale Studio" />.
        </div>
      ) : (
        <div>
          Мартин Леженин — графический дизайнер, медиахудожник, куратор,
          арт-директор, педагог, креативный директор, бренд-директор, и
          основатель креативного бюро Whale Studio.
        </div>
      )
    }
  </div>

  <div class="content">
    <div></div>

    <div class="footer">
      <div class="footer-item" id="email-container">
        <a class="link" href="mailto:martin@lezhen.in" id="email"
          >martin@lezhen.in</a
        >
      </div>

      <div class="footer-item" id="cta">
        {locale === "en" ? "LET'S WORK" : "ПОРАБОТАЕМ?"}
      </div>
      <div class="footer-item" id="socials-group">
        <a class="social" href="https://www.instagram.com/lezhenim/" id="ig"
          >IG</a
        >
        <a
          class="social"
          href="https://www.linkedin.com/in/martinlezhenin/"
          id="li">LI</a
        >
        <a class="social" href="https://www.t.me/votpravda" id="tg">TG</a>
      </div>
    </div>
  </div>

  <Project />
</main>
